.buttons
{
    margin: 10px;
}

.card_style
{
    margin: 10px;
    top: 10px;
    left: 10px;
    width: 370px;
}
.data-card
{
    margin: 10px; 
    position: relative; 
    min-width: 300px;
}

.grid-tile
{
    overflow: scroll;
}
