


<mat-card fxLayout="column">
    <mat-card-content>
        <mat-card-header>
            <h2>New User</h2>
        </mat-card-header>
        <form #f="ngForm" (ngSubmit)="addUser()" >
            <table>
                <tr>
                    <th>
                        Name : 
                    </th>
                    <td>
                        <input type="text" [(ngModel)]="newUser.Name" name="name">
                    </td>
                </tr>
                <tr>
                    <th>
                        Email : 
                    </th>
                    <td>
                        <input type="text" [(ngModel)]="newUser.Email" name = "email">
                    </td>
                </tr>
                <tr>
                    <th>
                        Street : 
                    </th>
                    <td>
                        <input type="text" [(ngModel)]= "newUser.Street" name= "street">
                    </td>
                </tr>
                <tr>
                    <th>
                        City : 
                    </th>
                    <td>
                        <input type="text" [(ngModel)]= "newUser.City" name= "city">
                    </td>
                </tr>
                <tr>
                    <th>
                        Zipcode : 
                    </th>
                    <td>
                        <input type="number" [(ngModel)]= "newUser.Zipcode" name= "zipcode">
                    </td>
                </tr>
            </table>
            <button mat-raised-button color="primary"  value="Add" type="submit" class="buttons">Update</button>
        </form>
    </mat-card-content>

</mat-card>