
<mat-card  [ngStyle]="taskComleted? {'border' : '1px solid green'} : {'border' : '1px solid red
'} "  [style.background-color]="user.BackgroundColor">
<mat-card-content>
    <table>
        <tr>
            <th>
                Name:
            </th>
            <td>
                <input type="text" [(ngModel)]="user.Name" name="name">
            </td>
        </tr>
        <tr>
            <th>
                Email:
            </th>
            <td>
                <input type="text" [(ngModel)]="user.Email" name="emzil">
            </td>
        </tr>
    </table>
    <mat-card-actions>
    <button mat-raised-button color="primary"  value="Other Data" (mouseover)="presentOterData()" class="buttons" [ngStyle]="{'margin-right' : '30px'}">Other Data</button>
    <button mat-raised-button color="accent"  value="Update" (click)="update()" class="buttons">Update</button>
    <button mat-raised-button color="warn"  value="Delete" (click)="delete()" class="buttons">Delete</button>
    </mat-card-actions >
    <div *ngIf="flag" (click)="HideOtherData()">
        <table>
            <tr>
                <th>
                    Street:
                </th>
                <td>
                    <input type="text" [(ngModel)] = user.Street > 
                </td>
            </tr>
            <tr>
                <th>
                    Zipcode:
                </th>
                <td>
                    <input type= text [(ngModel)] = user.Zipcode name="zipcode">
                </td>
            </tr>
            <tr>
                <th>
                    City:
                </th>
                <td>
                    <input type= text [(ngModel)] = user.City name="city">
                </td>
            </tr>
        </table>    
    </div>
</mat-card-content>
</mat-card>

